requets
selenium
flask[async]
aiofiles
telegraph
apscheduler
moviepy
Pillow
yt-dlp
pySmartDL
Flask
python-dotenv
pyrofork
tgcrypto
requests
speedtest
heroku3
aiohttp
pymongo
gunicorn
tzdata
pytz
cloudscraper
bs4 
pyrogram
lxml
cfscrape
urllib3
curl-cffi
tzlocal
aiofiles
natsort
telegraph
httpx
